* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-image: url("hero-banner.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  color: white;
  row-gap: 40px;
}

header h2,
header h3 {
  font-weight: normal;
}

article {
  flex-direction: column;
  width: 1200px;
  padding: 50px 100px;
  background-color: white;
}

.section {
  margin: 50px 0;
}

.section h2 {
  margin-bottom: 15px;
}

#map {
  height: 500px;
}
