* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.6;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 15px;
  color: white;
  row-gap: 40px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  overflow: hidden;
}

header #hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

header h2,
header h3 {
  font-weight: normal;
}

article {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 50px 100px;
  background-color: white;
}

.section {
  margin: 50px 0;
}

.section p {
  margin: 15px 0;
}

#map {
  height: 500px;
  min-width: 0;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.image-with-caption img {
  max-width: 100%;
  height: auto;
}

.roadkill-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: aliceblue;
}

.roadkill-form label {
  font-weight: bold;
}

.roadkill-form .submit {
  width: fit-content;
  padding: 4px 8px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: white;
}

@media screen and (max-width: 1199px) {
  article {
    flex-direction: column;
    padding: 50px 100px;
    background-color: white;
  }
}

@media screen and (max-width: 899px) {
  header h1 {
    font-size: 24px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 16px;
  }
}
