* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-image: url("hero-banner.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  color: white;
  row-gap: 40px;
}

header h2,
header h3 {
  font-weight: normal;
}

article {
  flex-direction: column;
  width: 1200px;
  padding: 50px 100px;
  background-color: white;
}

.section {
  margin: 50px 0;
}

.section p {
  margin: 15px 0;
}

#map {
  height: 500px;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
